<header class="navbar navbar-default">
	<%= link_to image_tag("give_me_motivation_logo.png", class:"give-me-motivation-logo"), root_path %>
	<div class="header-text-left">
		<div class="navbar-text"><%= link_to "Top Videos", "#" %></div>
		<div class="navbar-text"><%= link_to "Top Images", "#" %></div>
	</div>
	<div class="header-text-right">
		<div class="navbar-text"><%= link_to "Sign up", new_user_path  %> </div>
		<div class="navbar-text"><%= link_to "Log in", new_session_path %></div>
		<div class="navbar-text"><%= link_to "Submit a video/image", "#" %></div>
		<div class="navbar-text"><%= link_to "About", about_path%></div>
	</div>
</header>
<% flash.each do |name, msg| %>
   <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

