<div class="container-fluid">
	<% @best_images.each do |image| %>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail alter-image">
			<h4 class="text-center">Total Favorites:<%= image.favorite_images_count%></h4>
			<%= link_to image_tag(image.url, class: "images-index-resize", alt: "Favorite Image"), image_path(image) %>
			<% if @user %>
			<%= form_for([@user, @favorite]) do |f| %>
				<%= f.hidden_field :image_id, value: image.id %>
				<%= f.hidden_field :url, value: image.url %>
				<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.button "Make Favorite", class: "general-button favorite center alter-favorite" do %>
		 			<span class= "glyphicon glyphicon-heart"></span>
		 		<% end %>
			<% end %>
		<% else %>
			<%= button_to new_user_path, method: :get, class: "general-button favorite center alter-favorite", params: {favorite_sign_in: true} do %>
				 		<span class= "glyphicon glyphicon-heart"></span>
				<% end %>
		<% end %>
		</div>
	</div>
	<% end %>
</div>

<%= will_paginate(@best_images, renderer: BootstrapPagination::Rails) %>