	<div class="container-image">
		<%= image_tag(@image.url, class: "image-display") %>
	
	<aside class="image-motivate-information-container">
			<% if @user %>
				<%= form_for([@user, @favorite]) do |f| %>
					<%= f.hidden_field :image_id, value: @image.id %>
					<%= f.hidden_field :url, value: @image.url %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<%= f.button"Make Favorite", class: "general-button favorite" do %>
			 		<span class= "glyphicon glyphicon-heart"></span> Make Favorite
			 		<% end %>
				<% end %>
				<h4 class="total-favorites-text"><span class= "glyphicon glyphicon-heart total-favorites"></span>: <%= @image_count %></h4>
			<div class="make-unmotivational-button">	
				<%= form_for([@user, @unmotivational_image]) do |f| %>
					<%= f.hidden_field :image_id, value: @image.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<%= f.hidden_field :url, value: @image.url %>
				<%= f.button "Unmotivational", class: "general-button unmotivational" do %>
					<span class="glyphicon glyphicon-thumbs-down"> Unmotivational</span>
					<% end %>
				<% end %>
			</div>
			<h4 class="total-unmotivational-text"><span class="glyphicon glyphicon-thumbs-down"></span>: <%= @unmotivational_count %> </h4>
			<% else %>
				<%= button_to new_user_path, method: :get, class: "general-button favorite", params: {favorite_sign_in: true} do %>
			 		<span class= "glyphicon glyphicon-heart"></span> Make Favorite
			 	<% end %>
				<%= button_to new_user_path, method: :get, class: "general-button unmotivational", params: {unmotivational_sign_in: true} do %>
					<span class="glyphicon glyphicon-thumbs-down"> Unmotivational</span>
				<% end %>
		<% end %>
	</aside>
	</div>
<div class= "container-image-show-buttons">
		<%= button_to image_categories_path, method: :get, class: "general-button before-navigation left" do %>
				<span class="glyphicon glyphicon-arrow-left"></span> Back to Images 
			<% end %>
		<%= button_to image_path, method: :get, class: "general-button before-navigation right", params: {type: @type}  do %>
				Give Me More Motivation <span class="glyphicon glyphicon-arrow-right"></span> 
			<% end %>
</div>