<h1>Hello, <%= current_user.email %></h1>
<%= link_to "Your favorite videos", user_favorite_videos_path(:favorite_videos) %>
<%= link_to "Your favorite images", user_favorite_images_path(:favorite_images) %>
<%= link_to "Your unmotivational videos", user_unmotivational_videos_path(:unmotivational_videos) %>
<%= link_to "Your unmotivational images", user_unmotivational_images_path(:unmotivational_images) %>