<div class="container-fluid">
	<% @best_videos.each do |video| %>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail alter-thumbnail">
			<h4 class="text-center">Total Favorites: <%= video.users.count%></h4>
  			<span class="video-title"><%= video_title(video) %></span>
    		<%= image_tag(VideoInfo.new("https://www.youtube.com/watch?v=#{video.url}").thumbnail_medium) %>
			<% if @user %>
			<%= form_for([@user, @favorite]) do |f| %>
				<%= f.hidden_field :video_id, value: video.id %>
				<%= f.hidden_field :url, value: video.url %>
				<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.button "Make Favorite", class: "general-button favorite center alter-favorite" do %>
		 			<span class= "glyphicon glyphicon-heart"></span>
		 		<% end %>
			<% end %>
		<% else %>
			<%= button_to new_user_path, method: :get, class: "general-button favorite center alter-favorite", params: {favorite_sign_in: true} do %>
				 		<span class= "glyphicon glyphicon-heart"></span>
				<% end %>
		<% end %>
		</div>
	</div>
	<% end %>
</div>

<%= will_paginate(@best_videos, renderer: BootstrapPagination::Rails) %>

