<% if @random_video %>
	<h3 class="big-video-title"><%= @video_info.title%></h3>
	<div class="iframe"><iframe width="800" height="500" src="https://www.youtube.com/embed/<%= @random_video.url%>" frameborder="0" allowfullscreen></iframe></div>

	<aside>
	<div class="video-motivate-information-container">
		<h2 class="text-center">Category: <%= @random_video.type.split("V")[0] %></h2>
		<% if @user %>
			<%= form_for([@user, @favorite]) do |f| %>
				<%= f.hidden_field :video_id, value: @random_video.id %>
				<%= f.hidden_field :url, value: @random_video.url %>
				<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.button "Make Favorite", class: "general-button favorite" do %>
			 		<span class= "glyphicon glyphicon-heart"></span> Make Favorite
			 	<% end %>
			<% end %>
			<h4 class="total-favorites-text-videos"><span class= "glyphicon glyphicon-heart total-favorites"></span>: <%= @video_count %></h4>
			<div class="make-unmotivational-button">
				<%= form_for([@user, @unmotivational_video]) do |f| %>
					<%= f.hidden_field :video_id, value: @random_video.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<%= f.hidden_field :url, value: @random_video.url %>
				<%= f.button "Unmotivational", class: "general-button unmotivational" do %>
						<span class="glyphicon glyphicon-thumbs-down"> Unmotivational</span>
					<% end %>
				<% end %>
			</div>
		<h4 class="total-favorites-text-videos"><span class="glyphicon glyphicon-thumbs-down"></span>: <%= @unmotivational_count %> </h4>
		<% else %>
			<%= button_to new_user_path, method: :get, class: "general-button favorite", params: {favorite_sign_in: true} do %>
			 		<span class= "glyphicon glyphicon-heart"></span> Make Favorite
			 	<% end %>
			<h4 class="total-favorites-text-videos"><span class= "glyphicon glyphicon-heart total-favorites"></span>: <%= @video_count %></h4>
			<div class="make-unmotivational-button">
				<%= button_to new_user_path, method: :get, class: "general-button unmotivational", params: {unmotivational_sign_in: true} do %>
						<span class="glyphicon glyphicon-thumbs-down"> Unmotivational</span>
					<% end %>
				<h4 class="total-favorites-text-videos"><span class="glyphicon glyphicon-thumbs-down"></span>: <%= @unmotivational_count %> </h4>
			</div>
		<% end %>
	</div>
</aside>
	<%= render partial: "shared/random_video_button" if params[:video] %>
	<%= render partial: "shared/random_button" if params[:random] %>
<% else %>
	<%= render partial: "shared/video_error" %>
<% end %>