<h2 class= "video_title"><%= @videos%></h2>
<div class="iframe"><iframe width="800" height="500" src="https://www.youtube.com/embed/<%= @video.url%>" frameborder="0" allowfullscreen></iframe></div>

<aside>
	<div class="motivate-information-container">
		<% if @user %>
			<%= form_for([@user, @favorite]) do |f| %>
				<%= f.hidden_field :video_id, value: @video.id %>
				<%= f.hidden_field :url, value: @video.url %>
				<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.submit "Favorite", class: "general-button favorite" %>
			<% end %>
			<%= @video.id %>
		<% else %>
			<%= button_to "Favorite", new_user_path, method: :get, class: "general-button favorite" %>
		<% end %>
	</div>
</aside>

