<h2 class= "video_title"><%= @videos%></h2>
<div class="iframe"><iframe width="800" height="500" src="https://www.youtube.com/embed/<%= @video.url%>" frameborder="0" allowfullscreen></iframe></div>

<aside>
	<div class="motivate-information-container">
			<%= form_for([@user, @favorite], method: :put) do |f| %>
				<%= f.button "Favorite", class: "general-button favorite" %>
			<% end %>
			<%= @user %>
	</div>
</aside>

